@charset "UTF-8";
/* 回答はここから */
.largebox1{
  width: 200px;
  background: #fff;
  padding: 20px 0 20px 0;
}
.box1{
  text-align: center;
}
.text-align{
  background: #a4b3e9;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}
.margin{
  width: 90px;
  background: #a4b3e9;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
.box2{
  display: table;
  text-align: center;
}
.box3{
  display: table-cell;
  vertical-align: middle;
}
.table{
  padding: 10px;
  font-size: 16px;
  display: inline-block;
  background: #fff;
}
.q1--perimeter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  background: #fff;
  padding: 10px;
  font-size: 16px;
}
.container{
  position: relative;
  width: 250px;
  height: 150px;
}
.position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: #a4b3e9;
  padding: 10px;
  font-size: 16px;
}