@charset "UTF-8";
.box1{
  display: flex;
  flex-direction: row;
}
.box1 .item{
  margin-right: 20px;
  width: 65px;
}
.box1 .item:last-child{
  margin: 0;
}
.item{
  background: #00bbdd;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.box2{
  display: flex;
  flex-direction: row-reverse;
}
.box2 .item{
  margin-left: 20px;
  width: 65px;
}
.box2 .item:last-child{
  margin: 0;
}
.box3{
  display: flex;
  flex-direction: column;
}
.box3 .item{
  margin-bottom: 20px;
  width: 65px;
}
.box4{
  display: flex;
  flex-direction: column-reverse;
}
.box4 .item{
  margin-top: 20px;
  width: 65px;
}
.box4 .item:last-child{
  margin: 0;
}
.box5{
  display: flex;
  flex-direction: row;
}
.box5 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box6{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box6 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box7{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.box7 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box8{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.box8 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box9{
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.box9 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box10{
  display: flex;
  flex-direction: row;
justify-content: center;
}
.box10 .item{
  margin: 20px 20px 0 0;
  width: 65px;
}
.box11{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.box11 .item{
  margin-top: 20px;
  width: 65px;
}
.box12{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box12 .item{
  margin-top: 20px;
  width: 65px;
}
.box13{
  margin-top: 20px;
}
.box14{
  margin-top: 20px;
}
.box15{
  margin-top: 20px;
}
.box13{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px 10px;
}
.box14{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
}
.box15{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px 10px;
}
.box16{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:100px 100px 100px;
  gap: 10px 10px;
}
.red{
  background: #dd0700;
  grid-column: 1 / 3;
}
.green{
  background: #0bdd00;
  grid-row: 2 / 4;
}
.yellow{
  background: #d9dd00;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}