@charset "UTF-8";
/* 回答はここから */
ul{
  display: flex;
  justify-content: center;
}
li{
  list-style: none;
  background: #d2b48c;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  width: 200px;
  padding: 10px;
  margin: 0 60px 0 0;
}
li:last-child{
  margin: 0;
}

